/* VARIABLES */
:root {
  --primary-Red: hsl(0, 78%, 62%);
  --primary-Cyan: hsl(180, 62%, 55%);
  --primary-Orange: hsl(34, 97%, 64%);
  --primary-Blue: hsl(212, 86%, 64%);

  --neutral-very-dark-blue: hsl(234, 12%, 34%);
  --neutral-grayish-blue: hsl(229, 6%, 66%);
}

/* SIMPLE RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; /* 1 rem = 10px */
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 1.5rem;
}

/* HERO SECTION */
.hero {
  margin: 6rem 0;   
}

.hero-title {
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  color: var(--neutral-very-dark-blue);
}

.hero-bold-text {
  font-weight: 600;
  display: block;
  margin: 1rem 0;
  color: var(--neutral-very-dark-blue);
}

.hero-paragraph {
  font-weight: 300;
  color: var(--neutral-very-dark-blue);
  text-align: center;
  font-size: 1.7rem;
  padding: 0 26%;
}

/* CARDS SECTION */
.item {
  margin: 0 auto;
  width: 90%;
  height: auto;
  margin-bottom: 2rem;
}

.card--1 {
  font-weight: 300;
  color: var(--neutral-very-dark-blue);
  border-top: 3px solid var(--primary-Cyan);
  border-radius: 3.5px;
  -webkit-box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
  -moz-box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
  box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
}

.card--2 {
  font-weight: 300;
  color: var(--neutral-very-dark-blue);
  border-top: 3px solid var(--primary-Red);
  border-radius: 3.5px;
  -webkit-box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
  -moz-box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
  box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
}

.card--3 {
  font-weight: 300;
  color: var(--neutral-very-dark-blue);
  border-top: 3px solid var(--primary-Orange);
  border-radius: 3.5px;
  -webkit-box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
  -moz-box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
  box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
}

.card--4 {
  font-weight: 300;
  color: var(--neutral-very-dark-blue);
  border-top: 3px solid var(--primary-Blue);
  border-radius: 3.5px;
  -webkit-box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
  -moz-box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
  box-shadow: 0px 10px 21px -5px rgba(133,131,133,1);
}

.card-heading {
  margin-top: 2rem;
  color: var(--neutral-very-dark-blue);
  padding: 1rem;
}

.card-text {
  padding: 1rem;
}

.card-img {
  text-align: right;
  padding: 1rem 1rem 0 0;
}

/* GRID & Media*/
@media (min-width: 680px) {
  .card-body {
    width: 120rem;
    margin: 0 auto;

    display: grid;
    grid-template-rows: repeat(6, 7.7rem);
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 2.5rem;   
  }

  .item {
    width: 100%;
    padding: 1.2rem;
    margin: 0;
  }

  .card--1 {
    grid-row: 2 / 5;      
  }
  
  .card--2 {
    grid-row: 1 / 4;      
  }

  .card--3 {
    grid-row: 2 / 5; 
  }

  .card--4 {
    grid-row: 4 / 7;
    grid-column: 2 / 3;
    
  } 
}

/* FOOTER */
footer {
  text-align: center;
  margin: 6rem 0;
}









